<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Ticket</title>
   
</head>
<body>
    <div class="ticket">
        <h2 class="event-name">{{event.title}}</h2>
        <p class="event-date">{{time}}</p>
        <p class="attendee-name">🎟️{{email}}</p>

        <div class="qr-container">
            <img id="qr-image" src="{{qr_code.qr_img.url}}" alt="QR Code">
           
        </div>

        
        <button class="download-btn" >📥tải xuống vé</button>
    </div>

    <script>
      
    </script>
</body>
</html>
